@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <img src="images/govt_logo.png" alt="Left Image" class="header-image left" />
        <img src="images/nso_logo.png" alt="Right Image" class="header-image right" />
    </header>

    <div class="content">
        @Body
    </div>
    @* <main>
        <article class="content px-4">
            @Body
        </article>
    </main> *@
</div>
